@media screen and (max-width:1296px){
  .bg_img h5{
    font-size: 17px;
  }
}
@media screen and (max-width:1200px){
.bg_img h5{
  font-size: 15px;
}
.footer_text h4{
  font-size: 25px ;
}
.footer_text h5{
  font-size: 18px;
}
.au img{
  width: 550px !important;
  height: 700px;
}
}
@media screen and (max-width:992px){
  .img_blok{
    margin: 20px auto;
    text-align: center;
  }
  #known h2, .achievment{
    font-size: 40px !important;
  }
  .meni_blok{
    margin: 0px auto;
  }
  .reverse{
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .au{
    display: flex;
    justify-content: center;
  }
  .about_text{
    font-size: 19px !important;
  }
  .au img{
    height: 650px;
  }
}
@media screen and (max-width:768px){
  .recom_blok{
    margin-bottom: 20px;
  }  
  .achi_card{
    margin: 12px auto; 
  }
  .footer_text h4{
    font-size: 18px ;
  }
}
@media screen and (max-width:576px){
  .footer_text h4{
    font-size: 15px ;
  }
  .au img{
    height: 600px;
  }
 .about_text{
  font-size: 15px !important;
}
}

  
